{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{{ context }}

<ul class="menu1">
{{menu.name}}
    <li>

<!--        <a href="{% url 'category' menu.name %}"> {{menu.name}}</a>-->


        {% if menu.children %}
        <ul>
            {% for c in menu.children.all %}

            	    <li>
                    	<a href="{% url 'category' c.name %}"> {{c.name}}</a>
            	    </li>
                        {% if c.children %}
                            {% for elem in c.children.all %}
                                <li>
                                <a href="{% url 'category' elem.name %}"> {{elem.name}}</a>
                                </li>
                            {% endfor %}
                        {% endif %}

            {% endfor %}
        </ul>
        {% endif%}
    </li>
</ul>

