<ul>
    {% for c in menu.children.all %}
        <li>
            <a href="{% url 'category' c.slug %}"> {{c.name}}</a>
            {% if   c.slug == context  %}
                {% if c.children %}
                    {% include 'do_menu/list_menu.html' with menu=c %}
                {% endif %}
            {% else %}
                {% if c.children %}
                    {% for child in c.children.all %}
                        {% if child.slug == context %}
                            {% include 'do_menu/list_menu.html' with menu=c %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
</ul>




